## Functions

In [1]:
print('python')

python

In [5]:
def Anil():
    print('python')

In [3]:
Anil()

python

In [6]:
def Anil(x,y):
    print(x)
    print()
    print(y)
a=1
b=2
Anil(a,b)

1

2

In [7]:
def Anil(x,y):
    print(x)
    print()
    print(y)
a=10
b=20
Anil(a,b)

10

20

In [9]:
def fun(a):
    print('python')
    print('Value is = ',a)
fun(10)

python
Value is =  10

In [11]:
def fun(a):
    print('python')
    print('value is = ',a)
fun(10)

python
value is =  10

In [12]:
a=2
if a%2==0:
    print('even')
else:
    print('odd')

even

In [13]:
a=2
if a%2==0:
    print('even')
else:
    print('odd')

even

In [14]:
def fun(a):
    if a%2==0:
        print('even')
    else:
        print('odd')
fun(2)

even

In [15]:
def fun(a):
    if a%2==0:
        return 'even'
    else:
        return 'odd'
fun(2)

'even'

In [16]:
def fun(a):
    if a%2==0:
        return 'even'
    else:
        return 'odd'
b=fun(2)
print(b)

even

In [17]:
def fun(a):
    if a%2==0:
        return 'eveen'
    else:
        return 'odd'
b=fun(2)
print(b)

eveen

In [18]:
def multiply(a,b):
    result1=a+b
    result2=a*b
    return result1,result2
sum1,product=multiply(10,20)
print(sum1)
print(product)

30
200

In [19]:
def multiply(a,b):
    result1=a+b
    result2=a*b
    return result1,result2
sum1,product=multiply(10,20)
print(sum1)
print(product)

30
200

In [22]:
def fun (x):
    for i in x:
        print(i,end=' ')
a=[1,2,3,4,5,6,7,8,9,10,11]
fun(a)

1 2 3 4 5 6 7 8 9 10 11

In [23]:
def fun(x):
    for i in x:
        print(i,end=" ")
a=[1,2,3,4,5,6,7,8,9,10]
fun(a)

1 2 3 4 5 6 7 8 9 10

In [26]:
def check(a):
    for i in a:
        if i%2==0:
            print(i)
check([1,2,3,4,5,6,7,8,9,10,11])

2
4
6
8
10

In [28]:
def fun1(age,name):
    print('course is ',name,'age is =',age)
age=50
name='python'
fun1(age,name)

course is  python age is = 50

In [29]:
def fun1(age , name):
    print("course is " , name , "age is = ",age)

age = 50
name = "python"

fun1(age , name)

course is  python age is =  50

In [30]:
def fun1(age,name):
    print('course is ',name,'age is = ',age)
fun1(age,name)

course is  python age is =  50

## List comprehesion

In [31]:
#### List comprehension
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [33]:
a=[1,2,3,4,5]
b=[i for i in a]
print(b)

[1, 2, 3, 4, 5]

In [34]:
a=[1,2,3,4,5]
b=[i for i in a]
print(b)

[1, 2, 3, 4, 5]

In [35]:
a=[1,2,3,4]
b=[i for i in a]
print(b)

[1, 2, 3, 4]

## Normal Technique

In [36]:
## Normal techinque
cubes=[ ]
for i in range(1,5):
    cubes.append(i**3)
print(cubes)

[1, 8, 27, 64]

In [37]:
cubes=[]
for i in range(1,5):
    cubes.append(i**3)
print(cubes)

[1, 8, 27, 64]

In [40]:
cubes=[]
for i in range(1,5):
    cubes.append(i**3)
print(cubes)

[1, 8, 27, 64]

In [41]:
## functions
def fun():
    cubes=[ ]
    for i in range(1,5):
        cubes.append(i**3)
    return cubes
sol=fun()
print(sol)

[1, 8, 27, 64]

In [42]:
def fun():
    cubes=[ ]
    for i in range(1,5):
        cubes.append(i**3)
    return cubes
sol=fun()
print(sol)

[1, 8, 27, 64]

In [43]:
## List comprehension
sol=[i**3 for i in range(1,5)]
print(sol)

[1, 8, 27, 64]

In [45]:
sol=[i**3 for i in range(1,5)]
print(sol)

[1, 8, 27, 64]

## Finding Even Values

In [46]:
sol=[i for i in range(1,11) if i%2==0]
print(sol)

[2, 4, 6, 8, 10]

In [47]:
sol=[i for i in range(1,11) if i%2==0]
print(sol)

[2, 4, 6, 8, 10]

In [48]:
sol=[i**2 if i%2==0 else i**3 for i in range(1,5)]
print(sol)

[1, 4, 27, 16]

In [49]:
sol=[i**2 if i%2==0 else i**3 for i in range(1,5)]
print(sol)

[1, 4, 27, 16]

In [50]:
sol=[i**2 if i%2==0 else i**3 for i in range(1,5)]
print(sol)

[1, 4, 27, 16]

In [59]:
even = []
odd = []
for i in range(1,5):
    if i % 2 == 0:
        even.append(i**2)
    else:
        odd.append(i**3)
        
    
print(even)
print(odd)

[4, 16]
[1, 27]

In [62]:
even=[]
odd=[]
for i in range(1,5):
    if i % 2==0:
        even.append(i**2)
    else:
        odd.append(i**3)
print(even)
print(odd)

[4, 16]
[1, 27]

## Dictionary Comprehension{}

In [63]:
## dictionary comprehension
a={'name':'python','age':22}
a

{'name': 'python', 'age': 22}

In [64]:
a={ }
a['fruit']='apple'
print(a)

{'fruit': 'apple'}

In [65]:
a={ }
for i in range(1,5):
    a[i]=i**3
print(a)

{1: 1, 2: 8, 3: 27, 4: 64}

In [66]:
a={ }
for i in range(1,5):
    a[i]=i**3
print(a)

{1: 1, 2: 8, 3: 27, 4: 64}

## With Dictionary{}

In [67]:
## with dictionary
a={i:i**3 for i in range(1,5 )}
print(a)

{1: 1, 2: 8, 3: 27, 4: 64}

In [68]:
fruits={'mango':40,'banana':20}
for i,j in fruits.items():
    print(i,j)

mango 40
banana 20

In [70]:
fruits={'mango':40,'banana':20}
for i,j in fruits.items():
    print(i,j)

mango 40
banana 20

In [79]:
fruits={'mango':40,'banana':20}
sol={i:j**2 for (i,j) in fruits.items()}
print(sol)

{'mango': 1600, 'banana': 400}

In [77]:
fruits={'mango':40,'banana':20}
sol={i:j **2 for (i, j) in fruits.items()}
print(sol)

{'mango': 1600, 'banana': 400}

In [ ]:
fruits = {"mange":40 , 'banana':20}
sol = {i:j**2 for (i , j) in fruits.items()}
print(sol)